<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_item_group_path) %>
</div>

<% collection @groups do %>
  <table id="item_group_list" class="data">
    <tr>
      <th><%= ItemGroup.human_attribute_name("name") %></th>
      <th><%= ItemGroup.human_attribute_name("display_in_shop") %></th>
      <th><%= ItemGroup.human_attribute_name("items") %></th>
      <th><%= ItemGroup.human_attribute_name("state") %></th>
      <th></th>
    </tr>
    <% @groups.each do |group| %>
      <tr>
        <td class="name"><%= link_to(group.name, edit_admin_item_group_path(group)) %></td>
        <td class="display_in_shop"><%= group.display_in_shop %></td>
        <td class="items"><%= link_to(group.items.size, admin_item_group_items_path(group)) %></td>
        <td class="state"><%= admin_state(group) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_item_group_path(group)) %>
          <%= link_to(t(".controls.move_up"), move_admin_item_group_path(group, :direction => :up),
                :method => :put
              ) unless group.first? %>
          <%= link_to(t(".controls.move_down"), move_admin_item_group_path(group, :direction => :down),
                :method => :put
              ) unless group.last? %>
          <%= link_to(t(".controls.publish"), publish_admin_item_group_path(group),
                :method => :put,
                :confirm => t(".controls.publish_confirm")
              ) if group.can_publish? %>
          <%= link_to(t(".controls.hide"), hide_admin_item_group_path(group),
                :method => :put
              ) if group.can_hide? %>
          <%= link_to(t(".controls.duplicate"), duplicate_admin_item_group_path(group),
                :method => :put
              ) %>
          <%= link_to(t(".controls.delete"), admin_item_group_path(group),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) if group.can_mark_deleted? %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
