<% result_for :shop do |builder| %>
  <% if @inventory.valid? %>
    <% builder.buttons do %>
      <%= link_to_function(button(:publish), stream_dialog(:item_purchased, @inventory.item),
            :class => "publish button"
          ) %>

      <%= link_to(button(:inventory), inventories_url,
            :class => "inventory button"
          ) %>

      <%= link_to_remote(inventory_use_button(@inventory),
            :url    => use_inventory_path(@inventory),
            :update => :result,
            :html   => {
              :"data-click-once" => true,
              :class => "use button"
            }
          ) if @inventory.usable? %>
    <% end %>

    <% builder.success do %>
      <%=  t(".messages.success",
            :amount     => @amount,
            :item_name  => content_tag(:b, @amount > 1 ? @item.plural_name : @item.name)
          ).html_safe %>
    <% end %>

    <% if @item.price? %>
      <table class="payouts">
        <tr>
          <td class="spent">
            <h3><%= t(".you_spent.title") %></h3>

            <% if @item.basic_price > 0 %>
              <%= payout(:basic_money, number_to_currency(@inventory.basic_money)) %>
            <% end %>

            <% if @item.vip_price > 0 %>
              <%= payout(:vip_money, number_to_currency(@inventory.vip_money)) %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

    <% builder.on_ready do %>
     <!-- $('#inventory_fight_attributes').html('<%= escape_javascript(render("characters/fight_attributes")) %>');-->

      Character.initFightAttributes();

      $(document).trigger('item.purchase');
      
      <%= ga_track_event('Items', 'Purchased', "#{@item.name} (#{@item.availability})", @amount) %>
    <% end %>
  <% else %>
    <% builder.fail do %>
      <%= @inventory.errors.on(:character) %>
      <%= @inventory.errors.on(:item) %>
    <% end %>
  <% end %>
<% end %>
