<div class="payout serializable_item <%= payout.name %>" id="payout_<%= payout.object_id %>">
  <div class="controls">
    <%= link_to_function(t(".move_up"), "SerializableList.moveUp('#payout_#{payout.id}')", :class => :move_up) %>
    <%= link_to_function(t(".move_down"), "SerializableList.moveDown('#payout_#{payout.id}')", :class => :move_down) %>
    <%= link_to_function(t(".remove"), "SerializableList.remove('#payout_#{payout.id}')", :class => :remove) %>
  </div>

  <h4><%= t("payouts.#{payout.name}.name") %></h4>

  <% fields_for "#{container.to_s.underscore}[payouts][payout_#{payout.object_id}]", payout do |form| %>
    <%= form.hidden_field :type, :value => payout.name %>

    <table>
      <tr>
        <td>
          <%= render("admin/payouts/form_fields/#{payout.name}",
                :form       => form,
                :container  => container
              ) %>
        </td>
        <td width="30%">
          <%= form.check_box_list :apply_on, container.payout_events_for_select %>
        </td>
        <td width="30%">
          <%= form.select :action, Payouts::Base::ACTIONS %>
          <%= form.text_field :chance, :size => 6, :autocomplete => :off %>
          <%= form.check_box :visible %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
