<%#= title(t(".title")) %>

<%= render "relations/buttons", :current => :invite %>

<%= render "relations/note" %>

<div id="users_to_invite" class="invitation_method">
  <% if recommended = current_character.friend_filter.for_invitation(12) and recommended.any? %>
    <h2><%= t('.recommended' )%></h2>
  
    <div class="users clearfix">
      <% recommended.each do |facebook_id| %>
        <% content_tag(:div, :id => "user_#{facebook_id}", :class => :user) do %>
          <div class="name"><%= fb_name(facebook_id, :linked => false) %></div>
          <div class="image"><%= fb_profile_pic(facebook_id, :linked => false, :size => :small) %></div>
      
          <%= link_to_function(button(:invite), 
                fb_request_dialog(:invitation,
                  :to       => facebook_id,
                  :title    => t('.title'),
                  :message  => t('.invitation_message', :app_name => t('app_name')),
                  :params   => {:no_dialog => true},
                  :callback => "$('#user_#{facebook_id}').fadeOut('slow')"
                ),
                :class => 'invite button'
              ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div class="controls">
    <%= link_to_function(button(:invite_all), 
          fb_request_dialog(:invitation,
            :title    => t('.title'),
            :message  => t('.invitation_message', :app_name => t('app_name')),
            :data     => {
              :reference => :invite_page
            }
          ),
          :class => 'invite button'
        ) %>
  </div>
</div>

<div class="invitation_method">
  <h2><%= t(".copy_paste.title") %></h2>

  <p><%= t(".copy_paste.note") %></p>

  <p class="invitation_text">
    <%= t(".copy_paste.invitation",
          :app  => t("app_name"),
          :link => invitation_short_url(current_character)
        ).html_safe %>
  </p>
</div>
