<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="image">
      <%= image_tag(monster.image.url(:large)) %>
    </td>

    <td class="info">
      <div class="health">
        <%= monster_health_bar(monster) %>
      </div>

      <% if fight.reward_collectable? %>
        <div class="controls">
          <%= link_to_remote(button(:reward),
                :url    => reward_monster_path(monster),
                :update => :result,
                :html   => {
                  :"data-click-once" => true,
                  :class => "reward button"
                }
              ) %>
        </div>
      <% elsif fight.new_record? %>
        <p><%= t('.too_late') %></p>
      <% elsif !fight.significant_damage? %>
        <p><%= t('.insignificant_damage') %></p>
      <% else %>
        <p><%= t('.reward_collected') %></p>
      <% end %>

      <% payout_list(monster, monster.monster_type.payouts, :format => :preview, :triggers => fight.payout_triggers) do |p| %>
        <div class="payouts clearfix">
          <h3><%= MonsterType.human_attribute_name('payouts') %></h3>

          <%= p.payout_list %>
        </div>
      <% end %>

      <%= render('fighters', :monster => monster) %>
    </td>
  </tr>
</table>
