<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to t(".controls.new"), new_admin_element_path %>
</div>

<% if @elements.any? %>
  <table id="elements_list" class="data">
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".description") %></th>
      <th></th>
    </tr>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.description if element.description %></td>
        <td class="controls">
          <%= link_to t(".controls.edit"), edit_admin_element_path(element) %>
          <%= link_to t(".controls.delete"), admin_element_path(element),
                :method => :delete,
                :confirm => t(".controls.delete_confirm") %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
