<h2><%= t(".title") %></h2>

<table class="rating" cellspacing="0" cellpadding="0">
  <tr>
    <th>#</th>
    <th colspan="2"><%= Character.human_name %></th>
    <th><%= Character.human_attribute_name("level") %></th>
  </tr>

  <% rating_table(collection, :level, current) do |character, position, current| %>
    <% content_tag(:tr, :class => (:current if current)) do %>
      <td class="position"><%= position %></td>
      <td class="picture"><%= character_picture_link(character) %></td>
      <td class="name"><%= character_name_link(character, {}, {:capitalize => true}) %></td>
      <td class="level last"><%= character.level %></td>
    <% end %>
  <% end %>
</table>
