<%= title(t('.title')) %>

<%= render "relations/buttons", :current => :accept_requests %>

<% collection(@app_requests) do %>
  <table id="app_request_list">
    <% @app_requests.each do |app_request| %>
      <% content_tag_for(:tr, app_request) do %>
        <td class="sender_picture"><%= character_picture_link(app_request.sender) %></td>

        <%= render "app_requests/details/#{ app_request.type_name }", :app_request => app_request %>
          
        <td class="controls">
          <%= link_to_remote(button(:accept),
                :url => app_request_path(app_request),
                :update => :ajax,
                :method => :put,
                :html => {
                  :'data-click-once' => true,
                  :class => 'accept button'
                }
              ) if app_request.acceptable? %>
        </td>
      <% end %>
    <% end %>
  </table>
<% end %>
