<%= admin_title(t(".title")) %>

<div class="controls">
  <%= link_to(t(".controls.new"), new_admin_title_path) %>
</div>

<% collection @titles do %>
  <table id="title_list" class="data">
    <tr>
      <th><%= Title.human_attribute_name("name") %></th>
      <th><%= Title.human_attribute_name("state") %></th>
      <th></th>
    </tr>

    <% @titles.each do |title| %>
      <tr>
        <td class="name"><%= link_to(title.name, edit_admin_title_path(title)) %></td>
        <td class="state"><%= admin_state(title) %></td>
        <td class="controls">
          <%= link_to(t(".controls.edit"), edit_admin_title_path(title)) %>
          <%= link_to(t(".controls.publish"), publish_admin_title_path(title),
                :method => :put,
                :confirm => t(".controls.publish_confirm")
              ) if title.can_publish? %>
          <%= link_to(t(".controls.hide"), hide_admin_title_path(title),
                :method => :put
              ) if title.can_hide? %>
          <%= link_to(t(".controls.delete"), admin_title_path(title),
                :method   => :delete,
                :confirm  => t(".controls.delete_confirm")
              ) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
