<%= title(t(".title")) %>

<%= render("missions/buttons", :current => :missions) if Setting.b(:monsters_enabled) %>

<% if current_character.mission_helps.uncollected.size > 0 %>
  <%= render('missions/help_results', :help_results => current_character.mission_helps.uncollected) %>
<% end%>

<%= render("tabs") %>

<% if @mission_group %>
  <% if @mission_group.requirements.satisfies?(current_character) %>
    <div id="mission_list">
      <%= render "missions/list", :missions => @missions %>
    </div>

    <div id="boss_list">
      <%= render "bosses/list", :bosses => @bosses %>
    </div>
  <% else %>
    <div class="empty_set">
      <p><%= t(".requirements_not_satisfied") %></p>

      <div class="requirements clearfix">
        <%= unsatisfied_requirement_list(@mission_group.requirements) %>
      </div>
    </div>
  <% end %>

  <% dom_ready do %>
    $(document).bind('item.purchase', function(){
      <%= remote_function(:url => mission_group_path(@mission_group), :method => :get).html_safe %>
    });
  <% end %>
<% else %>
  <%= empty_set %>
<% end %>
