<%= form.select :mission_group_id, MissionGroup.to_dropdown, :required => true %>

<%= form.text_field :name, :required => true, :size => 50 %>
<%= form.text_area :description, :cols => 80, :rows => 5 %>

<%= form.file_field :image, :after_field => form.attachment_preview(:image, :small) %>

<%= form.text_field :health, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :attack, :required => true, :size => 6, :autocomplete => :off %>
<%= form.text_field :defence, :required => true, :size => 6, :autocomplete => :off %>

<%= form.text_field :time_limit, :size => 4, :after_field => t(".minutes") %>

<%= form.check_box :repeatable %>

<%= form.fields 'admin/visibilities/form_fields' %>

<h2><%= Boss.human_attribute_name("requirements") %></h2>

<%= form.text_field :ep_cost, :required => true, :size => 6, :autocomplete => :off %>

<%= form.fields "admin/requirements/collection" %>

<h2><%= Boss.human_attribute_name("payouts") %></h2>

<%= form.text_field :experience, :required => true, :size => 6, :autocomplete => :off %>

<%= form.fields "admin/payouts/collection" %>
