<%= admin_title(t(".title")) %>

<table id="translation_list" class="data">
  <% @translations.each do |key, value, customization| %>
    <% group_header key.split(".").first do |group| %>
      <tr><td class="splitter">&nbsp;</td></tr>
      <tr>
        <th colspan="3" class="subheader"><a name="<%= group %>"></a><%= group.humanize %></th>
      </tr>
    <% end %>

    <% content_tag :tr, :class => (:customized if customization) do %>
      <td class="key"><%= key.split('.')[1..-1].join(' ') %></td>
      <% content_tag(:td, :id => translation_id(key), :class => :value) do %>
        <%= link_to_remote(value.present? ? value : content_tag(:span, t(".no_value"), :class => :empty),
              :url    => customization ? edit_admin_translation_path(customization) : new_admin_translation_path(:key => key),
              :method => :get,
              :update => translation_id(key)
            ) %>
      <% end %>
      <td class="controls">
        <%= link_to(t(".controls.delete"), admin_translation_path(customization),
              :method   => :delete,
              :confirm  => t(".controls.delete_confirm")
            ) if customization %>
      </td>
    <% end %>
  <% end %>
</table>
